/* MyPosts.css */

.my-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(232, 230, 230, 0.1);
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }
  
  .post-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .post-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(232, 230, 230, 0.1);
  }
  
  .post-card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .post-card strong {
    font-size: 1.2rem;
    color: #333;
  }
  
  .post-card-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .edit-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  
  .delete-button:hover {
    background-color: #e53935;
  }
  
  .edited-tag {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #888;
    font-style: italic;
  }
  
  .empty-message {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
  }
  
  .edit-post-form {
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .pagination-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    color:#333
  }
  
  .pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .pagination-info {
    font-size: 1rem;
    color: #fff;
  }
  